body {
    background:  #c1fbff, no-repeat center center fixed;
    background-size: cover;
    image-rendering: optimizespeed;
    font-family: Roboto, 'Sans Serif';
    color: #22201e;
    text-align: justify;
    word-break: break-word;
}

@font-face {
    font-family: Roboto;
    src: url(../Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto-Italic.ttf);
  font-weight: italic;
}

.webtitle {
     color: black;
     font-weight: bold;
}
