:root{
    --lefc-bg: #c1fbff;
    --lefc-color: #22201e;
}

.dark-mode{
    --lefc-bg: #22201e;
    --lefc-color: #c1fbff;
}

body {
    background:  var(--lefc-bg), no-repeat center center fixed;
    background-size: cover;
    image-rendering: optimizespeed;
    font-family: Roboto, 'Sans Serif';
    color: var(--lefc-color: #22201e);
    text-align: justify;
    word-break: break-word;
}

.webring {
    border: 4px solid #4e345;
    width: 100px;
    height: 30px;
}

webring:hover {
    width: 110px;
    height: 40px;
}

@font-face {
    font-family: Roboto;
    src: url(../Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto-Italic.ttf);
  font-weight: italic;
}

.webtitle {
     color: var(--lefc-color: #22201e);
     text-decoration: none;
     font-weight: bold;
}

p,
h1,
h2,
h3,
h4 {
    text-align: center;
}

a {
    text-decoration: none;   
}

a:hover {
    color: darkslateblue;   
}

#icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    text-align: right;
}
